

/* fonts popins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
}

/*-------------------------------
         top players styles 
---------------------------------*/
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 0px;
    font-size: 18px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ------------------------------
        top blogs styles 
--------------------------------*/

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 25px;
}
.blog{
    display: flex;
}
.blogs img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
    margin-top: 6px;
}
.blog a{
    text-decoration: none;
    color: #562EFF;
}

/*-----------------------
        top course
------------------------ */
.top-courses{
    margin-top: 21px;
}
.course{
    width: 252px;
    padding: 10px;
    box-shadow:1px 1px 1px 1px blue;
    border-radius: 5px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-title{
    margin-top: 16px;
    margin-bottom: 0px;
}
.course-author{
    margin-top: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ED6B4F;
    font-size: 15px;
}
.stars p i{
    width: 12px;
    height: 12px;
    margin-left: 3.5px;
}
.fill-stars{
    color: #FFC014;
}
.blank-stars{
    color: #AEAEAE;
}
.ratings{
    color: #AEAEAE;
    margin-left: 2px;
}